{% extends "institutes/base.html" %}

{% load static %}

{% block title_block %}
<title>Institute:: allpics</title>
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .nav-link {
        font-weight: 600;
        color: #ff6347;
    }

    a.active {
        font-weight: 800;
        background-color: #ff6347;

    }

    .nav-link:hover {
        background-color: #ff6347;
        color: whitesmoke;
    }
    .btn-link
    {
       
        color: #ff6347;
    }

    .btn-link:hover
    {
        box-shadow: 0 0 6
        
        
        
        px #4778ff81 ;
        color: #ff6347;
        text-decoration: none !important;
    }
</style>
{% endblock %}

{% block main_block %}
<div class="container ">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="/institute/profile/">{{request.user}} (profile)</a></li>
                    <li class="breadcrumb-item "><a href="/institute/dashboard/">dashboard</a></li>
                    <li class="breadcrumb-item active font-weight-bold">all pics</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Institute Pics</h4>
            <ul class="nav nav-tabs" id="show_upload_tabs">
                <li class="nav-item">
                    <a href="#id_show" class="nav-link active" data-toggle="tab">All pics</a>
                </li>
                <li class="nav-item">
                    <a href="#id_upload" class="nav-link " data-toggle="tab">upload pics</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active fade" id="id_show">
                    <div class="accordion" id="All_pics">
                        <div class="card">
                          <div class="card-header" id="card_interior">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#_interior_pics" aria-expanded="true" aria-controls="_interior_pics">
                               Interior pics
                              </button>
                            </h2>
                          </div>
                          <div id="_interior_pics" class="collapse show" aria-labelledby="card_interior" data-parent="#All_pics">
                            <div class="card-body">
                                **********************interior********************
                            </div>
                          </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="card_exterior">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_exterior_pics" aria-expanded="true" aria-controls="_exterior_pics">
                                 Exterior pics
                                </button>
                              </h2>
                            </div>
                            <div id="_exterior_pics" class="collapse" aria-labelledby="card_exterior" data-parent="#All_pics">
                              <div class="card-body">
                                  **********************exterior********************
                              </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="card_lab">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_lab_pics" aria-expanded="true" aria-controls="_lab_pics">
                                 Lab pics
                                </button>
                              </h2>
                            </div>
                            <div id="_lab_pics" class="collapse" aria-labelledby="card_lab" data-parent="#All_pics">
                              <div class="card-body">
                                  **********************lab********************
                              </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="card_library">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_library__pics" aria-expanded="true" aria-controls="_library__pics">
                                 Lab pics
                                </button>
                              </h2>
                            </div>
                            <div id="_library__pics" class="collapse" aria-labelledby="card_library" data-parent="#All_pics">
                              <div class="card-body">
                                  **********************library********************
                              </div>
                            </div>
                        </div>

                         <div class="card">
                            <div class="card-header" id="card_classroom">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_classroom__pics" aria-expanded="true" aria-controls="_classroom__pics">
                                 Classroom pics
                                </button>
                              </h2>
                            </div>
                            <div id="_classroom__pics" class="collapse" aria-labelledby="card_classroom" data-parent="#All_pics">
                              <div class="card-body">
                                  {% if classroom_pic %}

                                  <div class="card-columns">
                                    {% for pic in classroom_pic %}
                                    <div class="card">
                                        <img src="/static/media/{{pic.pic_path}}"  class="img-fluid img-thumbnail card-img-top mb-2" alt="">

                                    </div>
                                    


                                    {% endfor %}

                                  </div>

                                   
                                   
                                  {% else %}
                                  <p class="lead">image not found</p>
                

                                  {% endif %}
                              </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" id="card_office">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_office__pics" aria-expanded="true" aria-controls="_office__pics">
                                 Office pics
                                </button>
                              </h2>
                            </div>
                            <div id="_office__pics" class="collapse" aria-labelledby="card_office" data-parent="#All_pics">
                              <div class="card-body">
                                  **********************Office********************
                              </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="card_parking">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_parking__pics" aria-expanded="true" aria-controls="_parking__pics">
                                    Parking pics
                                </button>
                              </h2>
                            </div>
                            <div id="_parking__pics" class="collapse" aria-labelledby="card_parking" data-parent="#All_pics">
                              <div class="card-body">
                                  **********************parking********************
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="card_sports">
                                <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_sports__pics" aria-expanded="true" aria-controls="_sports__pics">
                                    Sports pics
                                </button>
                                </h2>
                            </div>
                            <div id="_sports__pics" class="collapse" aria-labelledby="card_sports" data-parent="#All_pics">
                                <div class="card-body">
                                    **********************Sports********************
                                </div>
                            </div>
                        </div>
                    <div class="card">
                      <div class="card-header" id="card_faculty">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#_faculty__pics" aria-expanded="true" aria-controls="_faculty__pics">
                              Falculty pics
                          </button>
                        </h2>
                      </div>
                      <div id="_faculty__pics" class="collapse" aria-labelledby="card_faculty" data-parent="#All_pics">
                        <div class="card-body">
                            **********************Faculty pictures********************
                        </div>
                      </div>
                    </div>

                        
                      
                    </div>
                </div>
                    
                <div class="tab-pane fade" id="id_upload">
                    <ul class="nav nav-tabs mt-3 smooth-scroll" id="tabs">
                        <li class="nav-item">
                            <a href="#id_interior" class="nav-link active" data-toggle="tab">interior</a>
                        </li>

                        <li class="nav-item">
                            <a href="#id_exterior" class="nav-link " data-toggle="tab">exterior</a>
                        </li>
                        <li class="nav-item">
                            <a href="#id_lab" class="nav-link " data-toggle="tab">lab</a>
                        </li>
                        <li class="nav-item">
                            <a href="#id_library" class="nav-link " data-toggle="tab">library</a>
                        </li>
                        <li class="nav-item">
                            <a href="#id_classroom" class="nav-link " data-toggle="tab">classroom</a>
                        </li>
                        <li class="nav-item">
                            <a href="#id_office" class="nav-link " data-toggle="tab">Office</a>
                        </li>
                        <li class="nav-item">
                            <a href="#id_parking" class="nav-link " data-toggle="tab">parking</a>
                        </li>
                        <li class="nav-item">
                            <a href="#id_sportsarea" class="nav-link " data-toggle="tab">sports area</a>
                        </li>
                        <li class="nav-item">
                            <a href="#id_facultyroom" class="nav-link " data-toggle="tab">faculty room</a>
                        </li>


                    </ul>
                    <div class="tab-content" id="panels">
                        <div class="tab-pane active show fade" id="id_interior">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Interior Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_interior">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_interior"
                                    value="Upload">
                            </div>

                        </div>
                        <div class="tab-pane  fade" id="id_exterior">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Exterior Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_exterior">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_exterior"
                                    value="Upload">
                            </div>

                        </div>
                        <div class="tab-pane fade" id="id_lab">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Lab Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_lab">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_lab"
                                    value="Upload">
                            </div>

                        </div>
                        <div class="tab-pane fade" id="id_library">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload library Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_library">
                                {% csrf_token %}library
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_library"
                                    value="Upload">
                            </div>

                        </div>

                        <div class="tab-pane fade" id="id_classroom">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Classroom Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_classroom">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_classroom"
                                    value="Upload">
                            </div>

                        </div>
                        <div class="tab-pane fade" id="id_office">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Office Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_office">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_office"
                                    value="Upload">
                            </div>

                        </div>
                        <div class="tab-pane fade" id="id_parking">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Parking Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_parking">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_parking"
                                    value="Upload">
                            </div>

                        </div>
                        <div class="tab-pane fade" id="id_sportsarea">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Sports Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_sportsarea">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2  " id="btn_sportsarea"
                                    value="Upload">
                            </div>

                        </div>
                        <div class="tab-pane fade" id="id_facultyroom">
                            <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Upload Faculty room Pic</h4>
                            <form class="dropzone dropzone-previews" id="picup_facultyroom">
                                {% csrf_token %}
                            </form>
                            <div class="text-center">
                                <input type="button" class="btn btn-sm btn-outline-info mt-2 " id="btn_facultyroom"
                                    value="Upload">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

{% endblock %}


{% block jsblock %}
<script src="{% static 'js/dropzone.min.js' %}"> </script>
<script>
    Dropzone.autoDiscover = false;
    dop = Dropzone.options

    const forms = document.querySelectorAll('.dropzone');

    forms.forEach((form, cntr) => {
        form.classList.add('rounded-lg', "shadow-md", "font-weight-bold", "text-secondary", "lead");
        dop[form.id] = {
            paramName: 'file',
            maxFilesize: 1,
            uploadMultiple: false,
            createImageThumbnails: true,
            maxFiles: 1,
            acceptedFiles: '.jpeg,.png,.gif,.jpg',
            addRemoveLinks: true,
            autoProcessQueue: true
        };

        let picTypeid = cntr + 1;
        let dz = new Dropzone('#' + form.id, { url: '/institute/pics_upload/' + picTypeid + "/" });
        let btn = document.querySelector('#btn_' + form.id.substr(6));
        btn.classList.add("mt-3");

        btn.dz = dz;


        btn.addEventListener('click', (event) => {
            event.preventDefault();
            event.target.dz.processQueue();


        });





    })






</script>

<script src="{% static 'js/profile_form.js' %}"></script>

{% endblock %}