{% extends 'base.html' %}
{% block extra_block%}
<div class="menu m-1 border-bottom ">
    <div class="container ">
        <div class="row">
            <div class="col-6"> 
                <nav class="nav nav-pills">
                    <a href="#" class="lnk nav-link p-2  font-weight-bold">Courses</a>
                    <a href="#" class="lnk nav-link p-2 font-weight-bold ">Batches</a>
                    <a href="#" class="lnk nav-link p-2 font-weight-bold ">Enrollments</a>
                    <a href="#" class="lnk nav-link p-2 font-weight-bold ">Institutes</a>
                </nav>
                
                
            </div>
            
            

            <div class="col-6  d-flex justify-content-end"> 
                <nav class="nav nav-pills ">
                
                    
                    <a href="/institute/profile" class="lnk nav-link font-weight-bold " >profile</a>
                    <a href="/institute/pics" class="lnk nav-link font-weight-bold " >Institute Pics</a>
                    <a href="#" class="lnk nav-link font-weight-bold ">Vacancies</a>
                </nav>
            </div>
        </div>
    </div>

</div>
                            
{% endblock %} 

