{% extends 'institutes/base.html' %}
{% load static %}

{% block title_block %}
    <title style="background-color: blue;">Institute Signup</title>
{% endblock %}

{% block css_block %}

    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

{% endblock %}`

{% block main_block %}
    <div class="container  ">
        <div class="row ">
            <div class="col-5 border-right imgdiv ">
                <!-- <i class="fa fa-bank big-img "></i> -->
                <img src="{% static 'images/intu2.jpg' %}" class="w-100 h-125 img-fluid  rounded pr-5  " alt="">
            </div>
            <div class="col-6 offset-1 ins-frm pb-5  ">
            {% if form.errors %}
                {% for k,v in form.errors.items %}

                
                    {% for err in v %}
                    <div class="alert alert-danger w-75" role="alert">
                        <div>{{err}}</div>
                      </div>
                   

                    {% endfor %}

                {% endfor %}
            {% endif %}
                <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Institute signup</h4>
                <div class="alert block  alert-success  p-2 font-weight-bold" role="alert">
                   <h2 class="alert-heading p-3 pb-2 text-center">Thanks for signing up!</h2> 
                   <p class="text-center p-0">we send you a account activation mail <br>
                       <b>please click over the link</b>
                   </p>

                   <div class="text-center rounded">
                        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="150" frameborder="0" class="giphy-embed my-3 rounded " allowfullscreen></iframe>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
{% endblock %}

{% block jsblock %}
<script src="{% static 'js/signup.js' %}"> </script>
{% endblock %}