{% extends 'base.html' %}
{% load static %}


{% block title_block %}
    <title style="background-color: blue;">Institute Signin</title>
{% endblock %}

{% block css_block %}

    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block extra_block%}
<div class="menu m-1 border-bottom ">
    <div class="container ">
        <div class="row">
            <div class="col-7  d-flex justify-content-end ml-5 pl-3"> 
                <nav class="nav nav-pills  ">
                    {% if user.is_authenticated %}
                        <p class="mt-2">Welcome, <strong style="color: darkorange; font-size: 1.4rem;font-family: 'Courier New', Courier, monospace;">{{ user.get_username }}</strong></p>
                    {% else %}
                        <p class="mt-2">Welcome, <strong  style="color: darkorange; font-size: 1.2rem;font-family: 'Courier New', Courier, monospace;">USER.</strong> </p>
    
                    {% endif %}
                    
                </nav>
            </div>
        </div>
    </div>

</div>
                            
{% endblock %} 



{% block main_block %}
    <div class="container  ">
        <div class="row ">
            <div class="col-5 border-right imgdiv ">
                <!-- <i class="fa fa-bank big-img "></i> -->
                <img src="{% static 'images/intu2.jpg' %}" class="w-100 h-125 img-fluid  rounded pr-5  " alt="">
            </div>
            <div class="col-6 offset-1 ins-frm pb-5  ">
            {% if form.errors %}
                {% for k,v in form.errors.items %}

                
                    {% for err in v %}
                    <div class="alert alert-danger w-75" role="alert">
                        <div>{{err}}</div>
                      </div>
                   

                    {% endfor %}

                {% endfor %}
            {% endif %}
                <h4 class="border-bottom pb-2 w-50  pt-2 text-success">Institute signin</h4>
                <form action="/institute/Login/" method="post" class="w-75 pt-3  ">
                    
                    
                    <div class="form-group">
                        <label for="name " class="text-info font-weight-bold">Name</label>
                        <div class="d-flex">
                            <i class="fa fa-user icon p-2 fa-lg bg-info text-light"></i>
                            {{form.username}}
                        </div>
                        <small class="form-text text-muted" id="help_username">enter valid user name.min 5 chars.allowed chars  { a-zA-Z0-9@_ }</small>
                        <small class="form-text text-danger hide" id="error_username">INVALID USER NAME</small>
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="pwd"class="text-info font-weight-bold" >Password</label>
                        <div class="d-flex">
                            <i class="fa fa-key icon p-2 fa-lg bg-info text-light " ></i>
                            <!-- <input type="password" name="" class="form-control" id="pwd"> -->
                                {{form.password}}
                                <i class="fa fa-eye position-absolute " id="f_eye" title="view password" aria-hidden="true"></i>
                                
                        </div>
                        <small class="form-text text-muted" id="help_password">enter valid password.Min 6 chars allowed </small>
                        <small class="form-text text-danger hide" id="error_password">INVALID PASSWORD.</small>
                    </div>
                    
                    
                        <div class="g-recaptcha" data-sitekey="6LeIsdsaAAAAAMVkEzogT_CLUFR7-x6CnxBMhCpe"  ></div>

                        <div> New User ? <a href="{% url 'signup' %}">Register</a> </div>
                    <div class="form-group text-center">
                        <input type="submit"  class="btn btn-outline-info btn-lg  font-weight-bold mt-4 text-center" value="Signup">
                    </div>
                    
                        
                        {% csrf_token %}

                </form>

                
            </div>
            
        </div>
    </div>
{% endblock %}

{% block jsblock %}
 <script src="{% static 'js/signin.js' %}"> </script> 
{% endblock %}